<!DOCTYPE html>
<html>
  <head>
    <title>IuranQurban</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/6.6.0/firebase-app.js"></script>
    
  </head>

  <body>
    <%= yield %>
  </body>
</html>
